<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.oasdk">

    <!-- 数据读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 网络连接 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 系统弹窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 调用摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 调用媒体播放器 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />



    <!-- 摄像头 -->
    <uses-feature android:name="android.hardware.camera"/>
    <!-- 摄像头自动对焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>4

    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <!-- 位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_mao"
        android:label="@string/app_name"
        android:theme="@style/appTheme"
        android:name=".base.AppContext"
       >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.oaui.view.attachment.VideoRecordActivity"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"/>
        <activity android:name=".data.HttpDemoActivity" />

        <activity android:name="zxing.CaptureActivity" />
        <activity android:name=".ui.UIDemoAct" />
        <activity android:name=".ui.FormDemoAct" />
        <activity android:name=".ui.TipLayoutDemoAct" />
        <activity android:name=".ui.DialogDemoAct"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.DataDemoAct"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.RecordDemoAct"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.DatalistDemoAct"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.BaseViewDemoAct"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"/>
        <activity android:name=".wifi.WifiAct" />
        <!-- 蓝牙 -->
        <activity android:name=".data.bluetooth.BluetoothDemoAct" />
        <activity android:name=".data.bluetooth.BlueToothSocketAct" />
    </application>



</manifest>